#enviar{
    margin-left: 30px;
    margin-top: 15px;
}

#cajaEnviar{
    margin-left: 30px;
    margin-top: 15px;
}

#recibido{
    margin-left: 30px;
    margin-top: 15px;
}

#chat{
    margin-left: 30px;
}